a{
    color: #361ca9;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

body{
    margin: 20px;
    font-family: Arial, sans-serif;
}


header img{
    width: 160px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}