body{
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: rgb(101, 18, 108); 
    background-color: #e4ece9;

}

li{
    list-style-type: none;
    font-size: 20px;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(101, 18, 108);
    padding: 1px;
    font-size: 18px;
}

ul{
    border: 1px dotted black;
    margin: 20px 80px;
    padding: 10px;
}